.tasksForm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: .8rem 0rem;
    margin-bottom: 1.4rem;

    input {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 1.2rem;
        color: #2b2d42;
        width: calc(100% - 70px);
        margin-left: 10px;
        border: .1rem solid #2b2d42;
        border-radius: 1rem;
        outline: white;
        padding: .5rem 1.2rem;
    }

    button {
        color: white;
        font-size: 1.4rem;
        border: none;
        background: #2b2d42;
        height: 2.6rem;
        width: 2.6rem;
        border-radius: 1.3rem;
        margin-left: .7rem;
        transition: .2s;
        cursor: pointer;
        font-weight: bold;

        &:hover {
            filter: brightness(1.4);
        }
    }

    .dark {
        color: #2b2d42;
        background: white;
    }
}