* {
    margin: 0;
    padding: 0;
    font-size: 62,5%;
    box-sizing: border-box;

    $first-color: white;
    $second-color: #2b2d42;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    width: 100vw;
    height: 100vh;
    background: var($first-color);
    color: var($second-color);
    min-width: 345px;
    gap: 4.6rem;

    .content {
        width: calc(100% - 50px);
        max-width: 700px;
        h1 {
            text-align: center;
            margin-bottom: .8rem;
        }
    }
}