.theme {
    display: flex;
    height: 1.5rem;
    width: 6.4rem;
    cursor: pointer;

    img {
        width: 1.4rem;
        margin-right: .2rem;
        &:last-child {
            width: 1.3rem;
            margin-left: .2rem;
        }
    }

    .themeBar {
        position: relative;
        width: 5rem;
        border: .1rem solid #2b2d42;
        border-radius: 2.5rem;
    }

    .themeBar.dark {
        border: .1rem solid white;
    }

    .ball {
        position: absolute;
        top: 0;
        left: 0;
        height: 1.3rem;
        width: 1.3rem;
        border-radius: 50%;
        background: #2b2d42;
        content: "";
        transition: left 1s;
    }

    .ball.dark {
        background: white;
    }

    .ball.change {
        left: calc(100% - 1.3rem);
    }

}